<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Include css files-->
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">
  <link rel="icon" href="/assets/SINNO.png" type="image/png" sizes="16x16">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title> MicroS | SINNO </title>
  <!-- start function copy to clipboard -->
  <script>
    function copylink(){
      var copyText= document.getElementsByClassName(short);
      copyText.select();
      document.execCommand("copy");
    }
  </script>
  <!-- end function copy to clipboard-->
  <!-- start function clear cache-->
  <script>
    function clearlink(){
      $("#tbodyid").remove();
    }
  </script>
  <!-- end function clear cache-->
</head> 
<body>
  <!-- Nav bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://sinno.soict.ai"><img src="/assets/SINNO.png" alt="SINNO" width="50px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="https://hust.edu.vn"><img src="/assets/HUST.png" alt="HUST" width="50px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <img src="../assets/logo.png" alt="MicroS" width="160px" height="50px"> <span class="sr-only">(current)</span></a>
        </li> 
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About MicroS</a>
          </li>
      </ul>
    </div>
  </nav>
  <!-- Section showcase-->
  <section id="showcase">
    <div class="showcase-container">
      <h1>MicroS</h1>
      <p>Link ngắn, liên kết dài!</p>

    </div>
  </section>
    <!-- Body part-->
  <section id="body">
    <div class="container">
      <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only"></label>
        <input required placeholder="Your URL here" type="url" name="fullUrl" id="fullUrl" class="form-control form-control-lg col mr-2">
        <button id="btn-shrink" class="btn btn-lg btn-outline-success" type="submit">Micro It!</button>
      </form>
      
      <table class="table table-striped" id="tableid">
        <thead>
          <tr>
            <th scope="col" width="60%">Full URL</th>
            <th scope="col" width="20%">Short URL</th>
            <th scope="col" width="10%">Clicks</th>
            <th scope="col" wnpidth="10%"><button onclick="clearlink()" class="clear"><i class="fas fa-trash-alt"></i></button></th>
          </tr>
        </thead>
        <tbody id="tbodyid">
          <% shortUrls.forEach(shortUrl => { %>
            <tr>
              <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
              <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
              <td><%= shortUrl.clicks %></td>
              <td><button class="btn" onclick="copylink()"><i class="fas fa-copy"></i></button></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>
  <section id="aboutus">
    <div class="row">
      <div class="col-sm-6">  
        <img src="../assets/SINNO-main.jpg" alt="SINNO" class="sinno-main" width="320px" height="320px">
      </div>
      <div class="col-sm-6" id="text-about">
        <h3>About Us</h3>
        <p>SoICT Innovation Club là Câu lạc bộ Sáng tạo sinh viên trực thuộc Viện Công nghệ Thông tin và Truyền thông, Trường Đại học Bách Khoa Hà Nội, được thành lập ngày 7/5/2020 với các giá trị cốt lõi nằm ở con người mang theo những đam mê và khát khao sáng tạo không giới hạn.</p>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="row" id="row-about">
      <div class="col-sm-6" id="text-about">
        <h3>About MicroS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dui ipsum, convallis eu facilisis quis, pharetra quis est.</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">  
        <img src="../assets/logo.png" alt="MicroS" class="micros-main" width="320px" height="100px">
      </div>
    </div>
  </section>
</body>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media start-->
    <section class="mb-4">
      <!-- Homepage -->
      <a class="btn btn-outline-light btn-floating m-1" href="http://sinno.soict.ai" role="button">
        <i class="fas fa-home"></i></a>
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SINNOclub" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/SOICTInnovationClub" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media end-->

    <!-- Section: Text start-->
    <section class="mb-4">
      <p>
        Designed and made by SoICT Innovation Club, Hanoi University of Science and Technology.
        <br>
        Author: Hoang Dang Tuan Dat
      </p>
    </section>
    <!-- Section: Text end-->
  </div>
  <!-- Copyright start-->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: 
    <a class="text-white" href="https://sinno.soict.ai">SoICT Innovation Club</a>
  </div>
  <!-- Copyright end-->
</footer>
<!-- Footer -->
</html>