<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SINNO Shrinker - Shorten URL By SINNO</title>
</head>
<body>
    <div class="container">
    <h1>SINNO URL Shrinker</h1>
    <form action="/shortURLs" method="POST" class="my-4 form-inline">
        <label for="fullURL" class="sr-only">URL</label>
        <input required placeholder="Insert your URL!" type="url" name="fullURL" id="fullURL" class="form-control col mr-2"> 
        <button type="submit" class="btn btn-success">Shrink It!</button>
        
    </form>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortURLs.forEach(shortURL => { %>
                <tr>
                    <td><a href="<%= shortURLs.full %>"><%=shortURLs.full %></a></td>
                    <td><a href="<%= shortURLs.short %>"><%= shortURLs.short %></a></td>
                    <td><%= shortURLs.clicks %> </td>
                </tr>
            <%}) %> 
        </tbody>
    </table>
</div>
</body>
</html>